.content__grid {
    padding: 2.4rem 10%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}

.info {
    margin: 1.2rem 10%;
    font-size: 1.6rem;
    font-weight: 500;
}